@import url('https://fonts.googleapis.com/css?family=Roboto: 100,200,300,400,500,600,700|Exo: 100,200,300,400,500,600,700&display=swap');



* {
    margin: 0;
    padding: 0;
    border: 0;
}


h2{
    font-family: Exo;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #676;
}



#logo {
    float: left;
    font-size: 280%;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}



#logo {
    line-height: 70px;
    background-color: yellow;
    border-bottom-right-radius: 100px;
    border: hidden;
    
}


#menu {
    font-size: 200%;
    list-style-type: none;
    letter-spacing: 1px;
    padding-top: 150px;
}
    
    
#menu li {
    float: right;
    margin-right: 200px;
    }


#menu a {
    text-decoration: none;
    color: black;
}


#menu a:hover {
    border-bottom: 1px solid yellow;
}


.active {
    border-bottom: 1px solid #777777;
}




#home-video {
    clear: both;
    padding-top: 50px;
    padding-left: 5px;
    padding-bottom: 50px;
    padding-right: 5px;

}


#home-video iframe {
    border-radius: 30px;
    width: 500px;
    height: 300px;
}



<!--text-section-->

#para-intro  {
    font-family: Exo;
    clear: both;
    color: #777777;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}



.container p {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    line-height: 30px;

}






<!--images-section-->


#health-picture img {
    width: 500px;
    height: 300px;
    border-radius: 30px;
    padding-top: 50px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}







<--quotes-section-->


#quotes {
    clear: both;
    }



#quotes img {
    border-radius: 30px;
    width: 240px; 
    height: 500px;
}



<!--footer-section-->

footer {
    height: 150px;
}



#footer-header {
    padding-top: 150px;
    font-family: Exo;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #676;
}

<!--footer-links-->

#other-health a {
    text-decoration: none;
    color: black;
}




#other-health a:hover {
    border-bottom: 1px solid yellow;
}



#other-health li {
    list-style-type: none;
    text-align: center;
}



.footer li {
    display:inline;
}



.footer i {
    font-size: 500%;
    margin: 4%;
    padding: 5%;
    color: black;
}



@media-screen and (max-width: 800px) {
    #menu, #health-picture, #home-video, #quotes, #footer-header, #other-health {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
        column-count: 3;
    }
}