@import url('https://fonts.googleapis.com/css?family=Roboto: 100,200,300,400,500,600,700|Exo: 100,200,300,400,500,600,700&display=swap');

/*Navigation section*/

.navbar {
  list-style-type: none;
}

.navigation h5 section {
    color: #676;
    text-decoration-color: #676;
    padding: 50rem;
}

.navbar a {
    color: rgb(255, 255, 255);
}

.menu {
    color: rgb(255, 255, 255);
}

/*logo header section*/

h2{
    font-family: Exo;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #676;
}

.logo {
    float: left;
    font-size: 300%;
    margin: 2%;
    padding: 2px;
}

.logo {
    padding-top: 50px;
    line-height: 100px;
}

/*Home page sub heading and subsequent text below*/

h3 {
    padding-top: 200px;
    padding-bottom: 20px;
    text-align: center;
}

.sub-section p {
    padding-bottom: 50px;
    text-align: center;
}

/*Section headings*/

h6 {
    text-align: center;
    color: #676;
}


/*Main body background color code*/

.clips {
    background-color: rgb(231, 229, 229);
}

.health-picture {
    background-color: rgb(231, 229, 229);
}

.quotes {
    background-color: rgb(231, 229, 229);
}

.para-intro {
    background-color: rgb(231, 229, 229);
}

/*Clips section*/

.clips {
    clear: both;
    list-style-type: none;
    text-align: center;
}

.clips iframe {
    height: auto;
    border-spacing: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Picture section*/

.health-picture img {
    clear: both;
    list-style-type: none;
    padding-bottom: 1rem;
    border-radius: 3rem;
}

.health-picture img {
    height: 250px;
    width: 305px;
    text-align: center;
}

.health-picture {
    text-align: center;
}

/*Quotes section*/

.quotes {
    clear: both;
    text-align: center;
    list-style-type: none;
    padding-top: inherit;
}

.quotes img {
    width: 10rem;
    height: 20rem;
    border-radius: 3rem;
    border-spacing: 20rem;
    border-bottom: 1rem;
    align-self: auto;
}

/*Text section*/

.para-intro  {
    clear: both;
    font-family: Exo;
    color: #676;
    padding: 10rem;
}

.container p {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    line-height: 30px;
}

/*Footer section*/

footer {
    text-align: center;
    height: 150px;
}

.footer-header {
    clear: both;
    padding-top: 100px;
    font-family: Exo;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #676;
}

.other-health a {
    text-decoration: none;
    color: black;
    text-align: center; 
}

.other-health li {
    list-style-type: none;
    display: inline;
}

.other-health a:hover {
    border-bottom: 1px solid lightblue;
}

i {
    font-size: 4rem;
    padding: 1rem;
    margin: 3rem;
}