@import url('https://fonts.googleapis.com/css?family=Roboto: 100,200,300,400,500,600,700|Exo: 100,200,300,400,500,600,700&display=swap');

/*Navigation section*/

.navbar {
  list-style-type: none;
}
.navbar-link a {
    color: rgb(255, 255, 255);
}

.menu {
    color: rgb(255, 255, 255);
}

  /*logo header section*/

h2{
    font-family: Exo;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: rgb(77, 73, 73);
}

.logo {
    font-size: 3rem;
    padding: 1rem;
}

.logo {
    line-height: 15rem;
}

.logo {
    background: url("https://wallpaperaccess.com/full/148454.jpg") no-repeat center center;
    background-size: fill;
}

/*Clips section*/

.clips {
    clear: both;
    list-style-type: none;
    text-align: center;
}

.clips iframe {
    height: auto;
    border-spacing: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Gallery section*/

.gallery {
    column-count: 3;
}

.gallery {
    clear: both;
    line-height: 0rem;
    column-gap: 0rem;
}

.gallery img {
    text-align: center;
    width: 30rem;
    height: 30rem;
}

@media screen and (max-width: 800px) {
    .gallery {
     column-count: 2;
    }
  }

/*Footer section*/

footer {
    text-align: center;
    height: 20rem;
}

.footer-header {
    clear: both;
    font-family: Exo;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #676;
}

.other-health a {
    text-decoration: none;
    color: black;
}

.other-health li {
    list-style-type: none;
    text-align: center;
    display: inline;
}

.other-health a:hover {
    border-bottom: 1px solid lightblue;
}

i {
    font-size: 3rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}