
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Roboto;
    color: black;
}

h2{
    font-family: Exo;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #676;
}


#logo {
    float: left;
    font-size: 280%;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}


#menu {
    font-size: 150%;
    list-style-type: none;
    letter-spacing: 1px;
}

#logo, #menu {
    line-height: 75px;
    background-color: yellow;
    border-bottom-right-radius: 100px;
    border: hidden;
    
}
    
    
#menu li {
    float: right;
    margin-right: 80px;
    }


#menu a {
    text-decoration: none;
    color: black;
}


#menu a:hover {
    border-bottom: 1px solid yellow;
}


.active {
    border-bottom: 1px solid #777777;
}




#home-video {
    clear: both;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

#home-video iframe {
    border-radius: 30px;

}


#health-picture {
    clear: both;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;

}

#health-picture img {
    border-radius: 30px;
}

#quotes {
    clear: both;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 25px;
    }


#quotes img {
    border-radius: 30px;
    border-style: 1px solid yellow;
}

#footer-header {
    padding-left: 80px;
    background: yellow;
    border-radius: 30px;
    clear: both;
}


#other-health {
    clear: both;
    padding-top: 50px;
    padding-left: 300px;
    padding-bottom: 50px;
    padding-right: 50px;
}

#other-health img {
    border-radius: 30px;

}

#other-health a:hover {
    color: black;
    border-bottom: 1px solid yellow;
    list-style-type: none;
}


#para-intro  {
    font-family: Exo;
    clear: both;
    color: #777777;
    line-height: 30px;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;